html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
}

img{
    width: 704px;
    height: 407px;
    background-color: #f1f3ff;
}
/* Style tambahan */
/* Bundle 1 */
.bundle-1 .txt-1{
    font-size: 100px;
    font-weight: 100;
    color: green;
}
.bundle-1 .txt-2{
    font-size: 80px;
    font-weight: 200;
    color: red;
}
.bundle-1 .txt-3{
    font-size: 60px;
    font-weight: 300;
    color: blue;
}
.bundle-1 .txt-4{
    font-size: 40px;
    font-weight: 400;
    color: orangered;
}
.bundle-1 .txt-5{
    font-size: 20px;
    font-weight: 500;
    color: grey;
}
/* Bundle 2 */
.bundle-2 .text-1{
    font-size: 20px;
    font-weight: 600;
    color: green;
}
.bundle-2 .text-2{
    font-size: 40px;
    font-weight: 700;
    color: red;
}
.bundle-2 .text-3{
    font-size: 60px;
    font-weight: 800;
    color: blue;
}
.bundle-2 .text-4{
    font-size: 80px;
    font-weight: 900;
    color: orangered;
}
.bundle-2 .text-5{
    font-size: 100px;
    font-weight: bold;
    color: grey;
}